<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <div class="container">
        <form class="form-horizontal" th:action="@{/find/}" name="find_form" id="find_form"
              method="post" role="form">

            <div class="form-group">
                <input type="text" class="form-control" id="name" th:name="name" placeholder="Enter product name:" maxlength="100" style="width: 400px"/>
            </div>

            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>
</body>
</html>